@import "../fonts/iranyekan/css/fontiran.css?4001";

body{
    font-family: 'IranYekan1', DM Sans,serif;
    letter-spacing: 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
.alt-font,.main-font {
    font-family: 'IranYekan1', DM Sans, sans-serif;
}
